
/*///////////////404////////////////*/
body{
	background:#fff;
	font-family: 'Raleway',Helvetica,Arial,sans-serif;
	margin-top:0;
}
#error{
	width:100%;
	float:left;
	text-align:center;
}
#error img{
	width:auto;
	height:auto;
}
#error p{
	font-size:30px;
	font-weight:700;
	margin-top:25px;
	float:left;
	width:100%;
}
#error a{
	font-size 30px;
	font-weight:700;
	marin-top:20px;
	float:left;
	width:100%;
	color:#52ceaf;
}

@media(min-width:768px) {
		body{
	margin-top:50px;
}
	}
