<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html>
<!--    lang="${sessionBean.locale.language}"> -->

<!-- <f:view contentType="text/html" encoding="UTF-8" -->
<!--  locale="${sessionBean.locale.language}"> -->

<!--  <f:metadata> -->
<!--    <f:viewParam name="lang" value="#{homePageBean.language}"/> -->
<!--    <f:viewParam name="province" value="#{homePageBean.provinceName}"/> -->
<!--    <f:event listener="#{homePageBean.updateView}" type="preRenderView"/> -->
<!--  </f:metadata>    -->

   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <link rel="shortcut icon" type="image/x-icon" href="/favicon/favicon.ico"/>
      <!--<script type="text/javascript" href="js/jquery.js"></script>
         <link href="css/estilos.css" type="text/css" rel="stylesheet"/>
         <link href="css/jquery.qtip.min.css" type="text/css" rel="stylesheet"/>
         <script src="js/jquery.qtip.min.js"></script>
         <script src="js/javascript.js"></script>-->
      <link
         href="https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900"
         rel="stylesheet" type="text/css" />

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
      <link href="/statics/1.1.2/css/reset.min.css" rel='stylesheet' type='text/css' />
      <link href="/statics/1.1.2/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
      <link href="/statics/1.1.2/css/jsf_override.min.css" rel='stylesheet' type='text/css' />
      <link href="/statics/1.1.2/css/Css_Limpio.min.css" rel='stylesheet' type='text/css' />

<!--         <h:outputStylesheet library="css" name="reset.css" /> -->
<!--    <h:outputStylesheet library="css" name="bootstrap.min.css" /> -->
<!--    <h:outputStylesheet library="css" name="jsf_override.css" /> -->
<!--    <h:outputStylesheet library="css" name="custom-scrollbar.css" /> -->
<!--    <h:outputStylesheet library="css" name="https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900" /> -->
<!--    <h:outputStylesheet library="css" name="Css_Limpio.css" /> -->
    <style>
    strong{font-size: 90%;font-size: 1em;}
    .modal-body{overflow:visible;height: 100%;padding:1px;}
    .modal-content.mobile {background: #FFF;height: 100%;overflow: auto;}
    html, body, #modalValor{height:100%;}
  </style>
        <script type="text/javascript" src="/statics/1.1.2/js/vendors/vendors.min.js"></script>
      <title>Cambio de valor</title>
   </head>
  <body>
    <div class="mobile" id="modalValor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog mobile" role="document">
        <div class="modal-content mobile" style="border-radius:0px;box-shadow:none;-webkit-box-shadow:none;">
          <div class="modal-header mobile html" style="border-top-left-radius:0px;border-top-right-radius:0px;">
      <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button> -->
          </div>
          <div class="modal-body" style="text-align: center;">
            <h3 class="modal-title" id="myModalLabel" style="word-break: keep-all;"><strong>¡Estamos de estreno!</strong></h3>
            <div class="centered text-modal">
              <p>Te ofrecemos una nueva forma de vivir tu barrio.<br></br> Descubre y conecta con las mejores tiendas y restaurantes de tu alrededor en Madrid y Barcelona muy pronto en el resto de España.</p>
              <br/>
              <h6>Hemos actualizado los <a class="change-href" href="/terminos-condiciones/terminos-condiciones-mobile.html">términos del servicio</a> para ofrecerte una mejor experiencia.</h6>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
      var isMobile = {

        iOS: function() {
          return navigator.userAgent.match(/iPhone|iPad|iPod/i);
        },
        any: function() {
          return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
        }
      };
      if( isMobile.iOS() ){
        var metaiOS = document.querySelectorAll("[name=viewport]")[0];
        var deviceWidth= screen.width;
        deviceWidth = deviceWidth - 56;
        
        $(metaiOS).attr('content', 'width=' + deviceWidth);
        console.log( $(metaiOS).attr('content'))
      } ;
    </script>
</html>
